@page "/"

@inherits IndexBase

<h1>Paired Comparison Analysis</h1>
<span>(or how I remembered it)</span>

@if (WhatPageIsThis == CurrentPage.EnterItems) 
{
    <span>Tutaj wstaw nowe elementy</span>   
    <ItemsCollector ItemsToView=Items GoNextStep=NextStep />
}
else if (WhatPageIsThis == CurrentPage.CompareItems)
{
    <span>Tutaj porównasz elementy</span>
}
else
{
    <span>A Tu otrzymasz podsumowanie</span>
}
