@inherits ItemComparerBase

<div>
</div>
<div>
    <button @onclick=@(() => GoNextStep.InvokeAsync(null))>Go to comparison</button>
    <button @onclick=@(() => LaunchComparison())>Compare</button>
    <button @onclick=@(() => GoNextStep.InvokeAsync(null))>Go to summary</button>
</div>
