<div>
    <div>
        <input @bind-value="newItem" />
        <button @onclick=AddToItems>Add</button>
    </div>

    <div>
    @foreach (var item in ItemsToView)
    {
        <div>@item</div>
    }
    </div>

    <button @onclick=@(() => GoNextStep.InvokeAsync(null))>Go to comparison</button>
</div>

@code {
    private string newItem;

    [Parameter]
    public EventCallback GoNextStep { get; set; }

    [Parameter]
    public List<string> ItemsToView { get; set; }

    protected void AddToItems()
    {
        if (!ItemsToView.Contains(newItem))
        {
            ItemsToView.Add(newItem);            
        }
        newItem = string.Empty;
    }
}
